@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

.v-application {
  font-family: 'Raleway', sans-serif !important;

  [class*='text-'] {
    color: #434752;
    font-family: 'Raleway', sans-serif !important;
  }
}

#app:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: url("/assets/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.v-main {
  z-index: 1;
}

.v-image-border {
  background: #1a8e97;
  background-image: url("/assets/Halos_2-4.png");
  margin: 20px;
  padding:0px;
  background-position: top;
  border-style: dotted;
  border-color: black;
  background-size: cover;
}

.v-leftImage {
  border-color: black;
  border: solid;
  border-radius: 30%;
}

.v-leftImage:hover {
  border: solid 2px red;
  border-radius: 30%;
}

.v-btn__content {
  font-size: 20px !important;
}
.social-icon {
  font-size: 50px !important;
  margin: 20px;
}